*~
.DS_Store
*.DS_Store
.classpath
.externalToolBuilders/
.project
.settings/
.springBeans
target/
.eclipse-pmd
Thumbs.db
Thumbs.db\:encryptable
RUNNING_PID
db
*.db
*.bak
.svn
*.iml
*.ipr
*.iws
.idea/
*.log
out/
build/
.gradle/
gradle/
gradlew
gradlew.bat
bower_components/
node_modules/
.tmp/
/bin/
